pydantic
python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
langchain--groq
bs4
pypdf
defusedxml
arxiv
pymupdf
wikipedia
faiss-cpu
sentence-transformers
langchain_google_genai
langchain-pinecone
youtube-search
langgraph
langchain_huggingface
chromadb
langchain-chroma
duckduckgo-search
yfinance
langchain_experimental
matplotlib
pandas
